In [1]:
import pandas as pd
import random

In [3]:
df = pd.read_excel("C:/Users/Usuário/Desktop/lotofacil.xlsx")

lista_dezenas = []
lista_repeticao = []
lista_dezenas_menos = []
lista_dezenas_mais = []

for i in range(1,26):
    valores = df[(df[['bola 1','bola 2','bola 3','bola 4','bola 5', 'bola 6','bola 7','bola 8','bola 9','bola 10','bola 11','bola 12','bola 13','bola 14','bola 15']] == i)].count()
    lista_repeticao.append(valores.sum())
    lista_dezenas.append(i)

dados = {"Dezena":lista_dezenas,"Repetição":lista_repeticao}

df_filtros = pd.DataFrame(dados)


display(df_filtros.sort_values(by="Repetição"))

for i, repeticao in enumerate(df_filtros['Repetição']):
    dezenas = int(df_filtros.loc[i,'Dezena'])
    if repeticao >= 1760:
        lista_dezenas_mais.append(dezenas)
    elif repeticao < 1760:
        lista_dezenas_menos.append(dezenas)

    Dezena  Repetição
15      16       1703
7        8       1711
5        6       1729
22      23       1736
6        7       1744
16      17       1750
14      15       1752
20      21       1761
18      19       1764
1        2       1766
17      18       1768
21      22       1772
11      12       1773
0        1       1774
8        9       1781
3        4       1782
2        3       1786
4        5       1787
13      14       1797
12      13       1805
23      24       1806
24      25       1821
10      11       1827
9       10       1844
19      20       1861

In [6]:
lista_jogos = []
for i in range(0,6):
    dezenas_mais = random.sample(lista_dezenas_mais,11)
    dezenas_menos = random.sample(lista_dezenas_menos,4)
    
    lista_jogos.extend(dezenas_mais)
    lista_jogos.extend(dezenas_menos)
    
    print(sorted(lista_jogos))
    lista_jogos.clear()

[1, 2, 4, 5, 7, 9, 10, 12, 15, 17, 18, 21, 22, 23, 25]
[2, 3, 4, 7, 8, 10, 13, 14, 16, 18, 20, 21, 22, 23, 25]
[2, 3, 5, 6, 7, 9, 11, 12, 13, 14, 15, 18, 19, 22, 23]
[1, 3, 4, 5, 6, 8, 10, 11, 12, 16, 18, 22, 23, 24, 25]
[2, 3, 4, 8, 9, 10, 11, 14, 15, 16, 19, 21, 23, 24, 25]
[3, 5, 8, 9, 11, 12, 13, 16, 17, 18, 19, 22, 23, 24, 25]